In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import re
import requests
import seaborn as sns

In [2]:
df_prel = pd.read_csv("C:/Users/Antoine/Documents/AquaVision/donnees/nouvelles/prelevements.csv")
df_set = pd.read_csv("C:/Users/Antoine/Documents/AquaVision/donnees/nouvelles/synthese_evolution_temporelle.csv")
df_sg = pd.read_csv("C:/Users/Antoine/Documents/AquaVision/donnees/nouvelles/synthese_geographique.csv")
df_ste = pd.read_csv("C:/Users/Antoine/Documents/AquaVision/donnees/nouvelles/synthese_type_eau.csv")
df_su = pd.read_csv("C:/Users/Antoine/Documents/AquaVision/donnees/nouvelles/synthese_usage.csv")

In [3]:
regions = [
    "auvergne-rhone-alpes", "bretagne", "centre-val de loire", "corse", 
    "grand est", "guadeloupe", "guyane", "haut-de-france", "ile-de-france", 
    "la reunion", "landes", "martinique", "mayotte", "normandie", "nouvelle-aquitaine", 
    "occitanie", "paca", "pays-de-la-loire", "picardie", "bourgogne-franche-comte"
]

In [ ]:
df_list = []

for region in regions:
    df = pd.read_csv("C:/Users/Antoine/Documents/AquaVision/donnees/nouvelles/prelevements" + region + ".csv")
    df = df.drop(["Code Sandre de l'ouvrage ", "Commentaire", "Nom de l'ouvrage", "Code alternatif de l'ouvrage", "Origine du code alternatif", 'Code INSEE déclaré', 'Lieu dit', 'Libellé usage BNPE', "Code de l'usage déclaré", 
                        'Usage déclaré', "Code du statut du volume d'eau", "Code de qualification du volume d'eau", "Date de début d'exploitation d'un ouvrage de prélèvement",
                        "Date de fin d'exploitation d'un ouvrage de prélèvement", 'Code BSS', 'Code de la zone hydrographique', 'Nom de la zone hydrographique',
                        "Code entité hydrographique cours d'eau", "Code entité hydrographique plan d'eau", "Plan d'eau non référencé", 'Information complémentaire de la ressource en eau', 
                        'Code BDRHFV1', 'Libellé entité hydrologique BDRHFV1', 'Code BDLISA', 'Libellé entité hydrologique BDLISA', 'Code de la mer','Libellé de la mer'], axis = 1)
    df["region"] = region
    df_list.append(df_list)

    
df_global = pd.concat(df_list, ignore_index = True)

df_global

In [5]:
df_prel

,Année,Code Sandre de l'ouvrage,Nom de l'ouvrage,Commentaire,Code alternatif de l'ouvrage,Origine du code alternatif,Département,Code INSEE,Commune,Code INSEE déclaré,...,Code entité hydrographique cours d'eau,Code entité hydrographique plan d'eau,Plan d'eau non référencé,Information complémentaire de la ressource en eau,Code BDRHFV1,Libellé entité hydrologique BDRHFV1,Code BDLISA,Libellé entité hydrologique BDLISA,Code de la mer,Libellé de la mer
0,2022,OPR0000041055,Point de prélêvment pour centrale hydroélectri...,NaN,16258_017,AESN,78,78391,MERICOURT,78391,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,OPR0000041057,Point de prélêvement pour centrale hydroélectr...,NaN,16260_017,AESN,77,77463,THOMERY,77463,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,OPR0000041058,Point de prélêvement pour centrale hydroélectr...,NaN,16262_017,AESN,77,77210,GRANDE-PAROISSE,77210,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022,OPR0000041056,Point de prélêvement centrale hydroélectrique ...,NaN,16259_017,AESN,77,77096,CHARTRETTES,77096,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022,OPR0000032897,Prise d'eau usine Neuilly s/ M haure n8 noisy ...,NaN,3629_017,AESN,93,93051,NOISY-LE-GRAND,93051,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27516,2008,OPR0000635890,Ferme des grains d'or,NaN,64404_018,AESN,91,91223,ETAMPES,91223,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27517,2008,OPR0000634605,MOISENAY,NaN,02583X0098/P_018,AESN,77,77295,MOISENAY,77295,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27518,2008,OPR0000634606,BOISSISE LE ROI,NaN,02585X0247/PZ1_018,AESN,77,77040,BOISSISE-LE-ROI,77040,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27519,2008,OPR0000636303,SNECMA MOTEURS VILLAROCHE NORD,NaN,BSS00419F_018,AESN,77,77296,MOISSY-CRAMAYEL,77296,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27520,2008,OPR0000634607,BOISSISE LE ROI,NaN,02585X0248/PZ2_018,AESN,77,77040,BOISSISE-LE-ROI,77040,...,NaN,NaN,non,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_prel.columns

Index(['Année', 'Code Sandre de l'ouvrage ', 'Nom de l'ouvrage', 'Commentaire',
       'Code alternatif de l'ouvrage', 'Origine du code alternatif',
       'Département', 'Code INSEE', 'Commune', 'Code INSEE déclaré',
       'Lieu dit', 'Début', 'Fin', 'Volume (m3)', 'Code usage BNPE',
       'Libellé usage BNPE', 'Code de l'usage déclaré', 'Usage déclaré',
       'Type d'eau', 'Longitude', 'Latitude', 'Précision de la localisation',
       'Mode d'obtention du volume', 'Code du statut du volume d'eau',
       'Libellé du statut du volume d'eau',
       'Code de qualification du volume d'eau',
       'Libellé de qualification du volume d'eau',
       'Date de début d'exploitation d'un ouvrage de prélèvement',
       'Date de fin d'exploitation d'un ouvrage de prélèvement',
       'Nature du point de prélèvement', 'Code BSS',
       'Code de la zone hydrographique', 'Nom de la zone hydrographique',
       'Code entité hydrographique cours d'eau',
       'Code entité hydrographique plan d'eau', 'Plan d'eau non référencé',
       'Information complémentaire de la ressource en eau', 'Code BDRHFV1',
       'Libellé entité hydrologique BDRHFV1', 'Code BDLISA',
       'Libellé entité hydrologique BDLISA', 'Code de la mer',
       'Libellé de la mer'],
      dtype='object')

In [17]:
df_prel = df_prel.drop(["Code Sandre de l'ouvrage ", "Commentaire", "Nom de l'ouvrage", "Code alternatif de l'ouvrage", "Origine du code alternatif", 'Code INSEE déclaré', 'Lieu dit', 'Libellé usage BNPE', "Code de l'usage déclaré", 
                        'Usage déclaré', "Code du statut du volume d'eau", "Code de qualification du volume d'eau", "Date de début d'exploitation d'un ouvrage de prélèvement",
                        "Date de fin d'exploitation d'un ouvrage de prélèvement", 'Code BSS', 'Code de la zone hydrographique', 'Nom de la zone hydrographique',
                        "Code entité hydrographique cours d'eau", "Code entité hydrographique plan d'eau", "Plan d'eau non référencé", 'Information complémentaire de la ressource en eau', 
                        'Code BDRHFV1', 'Libellé entité hydrologique BDRHFV1', 'Code BDLISA', 'Libellé entité hydrologique BDLISA', 'Code de la mer','Libellé de la mer'], axis = 1)

In [19]:
df_prel.to_csv("C:/Users/Antoine/Documents/AquaVision/donnees/nouvelles/prelevements_propres.csv", index = False)

In [12]:
df_set

    Année  Volume (m3)  Commentaire
0    2008   1897726577          NaN
1    2009   2072312234          NaN
2    2010   1987930725          NaN
3    2011  19049481325          NaN
4    2012  24475202135          NaN
5    2013  18595394919          NaN
6    2014  26528892187          NaN
7    2015  28103788878          NaN
8    2016  29381273487          NaN
9    2017  29376321284          NaN
10   2018  20782010522          NaN
11   2019  30267155955          NaN
12   2020  21824792981          NaN
13   2021  32292326671          NaN
14   2022  28351666301          NaN

In [13]:
df_sg

     Année  Numéro du département Nom du département  Volume (m3)
0     2022                     77     Seine-et-Marne  15112517468
1     2022                     78           Yvelines  12357775314
2     2022                     94       Val-de-Marne    311903211
3     2022                     93  Seine-Saint-Denis    135694893
4     2022                     92     Hauts-de-Seine    124193912
..     ...                    ...                ...          ...
115   2008                     93  Seine-Saint-Denis    119423687
116   2008                     75              Paris    116104886
117   2008                     91            Essonne     91790942
118   2008                     95         Val-d'Oise     88768857
119   2008                     92     Hauts-de-Seine     20213079

[120 rows x 4 columns]

In [4]:
df_su

,Année,Nom de l'usage,Code de l'usage,Volume total (m3),Proportion (%)
0,2022,EAU TURBINEE (barrage),BAR,27072002601,95.5
1,2022,EAU POTABLE,AEP,817019047,2.9
2,2022,INDUSTRIE et ACTIVITES ECONOMIQUES (hors irrig...,IND,248521020,0.9
3,2022,CANAUX,CAN,98366912,0.3
4,2022,ENERGIE,ENE,80249859,0.3
...,...,...,...,...,...
84,2008,EAU POTABLE,AEP,861193784,45.4
85,2008,ENERGIE,ENE,633587918,33.4
86,2008,INDUSTRIE et ACTIVITES ECONOMIQUES (hors irrig...,IND,323965899,17.1
87,2008,CANAUX,CAN,61774486,3.3
88,2008,IRRIGATION,IRR,17204490,0.9

In [20]:
df_prel

,Année,Département,Code INSEE,Commune,Début,Fin,Volume (m3),Code usage BNPE,Type d'eau,Longitude,Latitude,Précision de la localisation,Mode d'obtention du volume,Libellé du statut du volume d'eau,Libellé de qualification du volume d'eau,Nature du point de prélèvement
0,2022,78,78391,MERICOURT,01/01/2022,31/12/2022,12233668036,BAR,CONT,1.617161,49.027019,0,EST,Contrôlé Niveau 1,Correcte,P
1,2022,77,77463,THOMERY,01/01/2022,31/12/2022,6511022846,BAR,CONT,2.793029,48.401002,0,EST,Contrôlé Niveau 1,Correcte,P
2,2022,77,77210,GRANDE-PAROISSE,01/01/2022,31/12/2022,5593091745,BAR,CONT,2.915694,48.374802,0,EST,Contrôlé Niveau 1,Correcte,P
3,2022,77,77096,CHARTRETTES,01/01/2022,31/12/2022,2734219974,BAR,CONT,2.706590,48.482660,0,EST,Contrôlé Niveau 1,Correcte,P
4,2022,93,93051,NOISY-LE-GRAND,01/01/2022,31/12/2022,126420400,AEP,CONT,2.570000,48.832647,5,MED,Contrôlé Niveau 1,Correcte,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27516,2008,91,91223,ETAMPES,01/01/2008,31/12/2008,0,IND,SOUT,2.158397,48.418546,0,MED,Non qualifié,Qualification non définissable,P
27517,2008,77,77295,MOISENAY,01/01/2008,31/12/2008,0,IND,SOUT,2.758713,48.568507,0,MED,Non qualifié,Qualification non définissable,P
27518,2008,77,77040,BOISSISE-LE-ROI,01/01/2008,31/12/2008,0,IND,SOUT,2.572602,48.501982,0,MED,Non qualifié,Qualification non définissable,P
27519,2008,77,77296,MOISSY-CRAMAYEL,01/01/2008,31/12/2008,0,IND,SOUT,2.600096,48.628060,0,MED,Non qualifié,Qualification non définissable,P
27520,2008,77,77040,BOISSISE-LE-ROI,01/01/2008,31/12/2008,0,IND,SOUT,2.563023,48.493293,0,MED,Non qualifié,Qualification non définissable,P

In [22]:
df_prel["Libellé de qualification du volume d'eau"].unique()

array(['Correcte', 'Non qualifié', 'Qualification non définissable'],
      dtype=object)

In [ ]:
url = "https://hubeau.eaufrance.fr/api/v1/prelevements/chroniques?annee=2008&code_departement=&format=json&size=50"

In [17]:
docu = requests.get(url).json()

In [22]:
docu['data'][0]

{'code_ouvrage': 'OPR0000005856',
 'annee': 2008,
 'volume': 9668.0,
 'code_usage': 'IRR',
 'libelle_usage': 'IRRIGATION',
 'code_statut_volume': '1',
 'libelle_statut_volume': 'Contrôlé Niveau 1',
 'code_qualification_volume': '1',
 'libelle_qualification_volume': 'Correcte',
 'code_statut_instruction': 'REA',
 'libelle_statut_instruction': 'Prélèvement réalisé',
 'code_mode_obtention_volume': 'MES',
 'libelle_mode_obtention_volume': 'Volume mesuré',
 'prelevement_ecrasant': False,
 'producteur_donnee': 'AEAG',
 'longitude': 1.269365176987261,
 'latitude': 43.16925130685419,
 'code_commune_insee': '09038',
 'nom_commune': 'Bastide-de-Besplas',
 'code_departement': '09',
 'libelle_departement': 'Ariège',
 'nom_ouvrage': 'CHAPELLE',
 'geometry': {'type': 'Point',
  'crs': {'type': 'name',
   'properties': {'name': 'urn:ogc:def:crs:OGC:1.3:CRS84'}},
  'coordinates': [1.269365176987261, 43.16925130685419]},
 'uri_ouvrage': 'https://id.eaufrance.fr/OuvragePrel/OPR0000005856'}

In [4]:
dico = {
        'Année' : [],
        'Commune': [],
        'Code INSEE' : [],
        'Département' : [],
        'Numéro département' : [],
        'Volume' : [],
        'Usage' : [],
        'Mode obtention' : [],
        'Longitude' : [],
        'Latitude' : [],
        'Statut' : [],
        'Qualification' : [],
        'Prélèvement écrasant' : [],
        'Ouvrage' : []

}

In [5]:
for annee in range(2008, 2023):
    url = "https://hubeau.eaufrance.fr/api/v1/prelevements/chroniques?annee=" +str(annee) + "&code_departement=&format=json&size=50"
    docu = requests.get(url).json()
    pages = re.search(r'page=(\d+)', docu['last'])
    nb_pages = int(pages.group(1))
    for page in range(1, nb_pages+1):
        url2 = "https://hubeau.eaufrance.fr/api/v1/prelevements/chroniques?annee=2008&code_departement=&format=json&page=" + str(page) + "&size=50"
        docu2 = requests.get(url2).json()
        for prel in docu2['data']:
            dico['Année'].append(prel['annee'])
            dico['Commune'].append(prel['nom_commune'])
            dico['Code INSEE'].append(prel['code_commune_insee'])        
            dico['Département'].append(prel['libelle_departement'])
            dico['Numéro département'].append(prel['code_departement'])
            dico['Volume'].append(prel['volume'])
            dico['Usage']. append(prel['libelle_usage'])
            dico['Mode obtention'].append(prel['libelle_mode_obtention_volume'])
            dico['Longitude'].append(prel['longitude'])
            dico['Latitude'].append(prel['latitude'])
            dico['Statut'].append(prel['libelle_statut_volume'])
            dico['Qualification'].append(prel['libelle_qualification_volume'])
            dico['Prélèvement écrasant'].append(prel['prelevement_ecrasant'])
            dico['Ouvrage'].append(prel['nom_ouvrage'])

:

In [29]:
df = pd.DataFrame(dico)

In [30]:
df

,Année,Commune,Code INSEE,Département,Numéro département,Volume,Usage,Mode obtention,Longitude,Latitude,Statut,Qualification,Prélèvement écrasant,Ouvrage
0,2008,Bastide-de-Besplas,09038,Ariège,09,9668.0,IRRIGATION,Volume mesuré,1.269365,43.169251,Contrôlé Niveau 1,Correcte,False,CHAPELLE
1,2008,Bastide-de-Besplas,09038,Ariège,09,135090.0,IRRIGATION,Volume mesuré,1.264799,43.174473,Contrôlé Niveau 1,Correcte,False,BORDENEUVE
2,2008,Bastide-de-Besplas,09038,Ariège,09,53644.0,IRRIGATION,Volume mesuré,1.273070,43.166603,Contrôlé Niveau 1,Correcte,False,HOUNOT
3,2008,Bastide-de-Bousignac,09039,Ariège,09,29210.0,IRRIGATION,Volume mesuré,1.881080,43.064305,Contrôlé Niveau 1,Correcte,False,BALACH
4,2008,Trémoulet,09315,Ariège,09,1088818.0,IRRIGATION,Volume mesuré,1.730656,43.156415,Contrôlé Niveau 1,Correcte,False,TREMOULET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67504,2008,Malesherbois,45191,Loiret,45,0.0,INDUSTRIE et ACTIVITES ECONOMIQUES (hors irrig...,Mesure directe,2.289098,48.299883,Non qualifié,Qualification non définissable,False,SCEA FERME DE OINVILLE
67505,2008,Noisy-sur-École,77339,Seine-et-Marne,77,0.0,INDUSTRIE et ACTIVITES ECONOMIQUES (hors irrig...,Mesure directe,2.490112,48.395714,Non qualifié,Qualification non définissable,False,SCA PLAINE DE FORET
67506,2008,Prunay-le-Gillon,28309,Eure-et-Loir,28,0.0,INDUSTRIE et ACTIVITES ECONOMIQUES (hors irrig...,Mesure directe,1.638864,48.371109,Non qualifié,Qualification non définissable,False,EARL DES TROIS ORMES
67507,2008,Vendrest,77490,Seine-et-Marne,77,0.0,INDUSTRIE et ACTIVITES ECONOMIQUES (hors irrig...,Mesure directe,3.102479,49.045655,Non qualifié,Qualification non définissable,False,SCEA FERME DE LA RECETTE
67508,2008,Bannost-Villegagnon,77020,Seine-et-Marne,77,0.0,INDUSTRIE et ACTIVITES ECONOMIQUES (hors irrig...,Mesure directe,3.171290,48.670893,Non qualifié,Qualification non définissable,False,CLOT JEAN PIERRE