In [2]:
import pandas as pd

In [17]:
df_base = pd.read_csv("C:/Users/Antoine/Documents/AquaVision/donnees/brutes/eau_potable/communes_AEP_2023.csv", encoding="Windows-1252", sep=";", low_memory=False)

In [18]:
df_base

,DPT de la commune,Nom de la commune adhérente,Identifiant SISPEA de la commune adhérente,Code INSEE de la commune adhérente,Population de la commune,Type d'adhésion,Nom de la collectivité via laquelle la commune adhère,N° SIREN de la collectivité via laquelle la commune adhère,Identifiant SISPEA de la collectivité via laquelle la commune adhère,Nom de la collectivité de l'entité de gestion à laquelle la commune adhère,...,Zone tarifaire 1,Tarif zone tarifaire 1,Zone tarifaire 2,Tarif zone tarifaire 2,Zone tarifaire 3,Tarif zone tarifaire 3,Zone tarifaire 4,Tarif zone tarifaire 4,Zone tarifaire 5,Tarif zone tarifaire 5
0,01,Cerdon,348,01068,788.0,Adhérent direct,NaN,NaN,NaN,Cerdon,...,Indicateur tarif,"3,64",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01,Tossiat,672,01422,1390.0,Adhérent direct,NaN,NaN,NaN,SIE Ain Veyle Revermont,...,Indicateur tarif,"2,72",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01,Dompierre-sur-Veyle,418,01145,1214.0,Adhérent direct,NaN,NaN,NaN,SIE Ain Veyle Revermont,...,Indicateur tarif,"2,72",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01,La Tranclière,675,01425,291.0,Adhérent direct,NaN,NaN,NaN,SIE Ain Veyle Revermont,...,Indicateur tarif,"2,72",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01,Montagnat,515,01254,2193.0,Adhérent direct,NaN,NaN,NaN,SIE Ain Veyle Revermont,...,Indicateur tarif,"2,72",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33901,93,Bondy,36616,93010,53509.0,Adhérent direct,NaN,NaN,NaN,Est Ensemble (T8),...,Indicateur tarif,"1,38",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33902,93,Noisy-le-Sec,36634,93053,45156.0,Adhérent direct,NaN,NaN,NaN,Est Ensemble (T8),...,Indicateur tarif,"1,38",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33903,93,Pantin,36635,93055,60597.0,Adhérent direct,NaN,NaN,NaN,Est Ensemble (T8),...,Indicateur tarif,"1,38",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33904,93,Le Pré-Saint-Gervais,36638,93061,17342.0,Adhérent direct,NaN,NaN,NaN,Est Ensemble (T8),...,Indicateur tarif,"1,38",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33905,94,Périgny,36679,94056,2740.0,Adhérent direct,NaN,NaN,NaN,Grand Paris Sud Est Avenir (T11),...,Indicateur tarif,"2,96",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Filtrage du df pour récupérer les communes que l'on veut
df_base = df_base[df_base['DPT de la commune'].isin(['75', '77', '78', '91', '92', '93', '94', '95'])][["DPT de la commune", "Nom de la commune adhérente", "Identifiant SISPEA de la collectivité de l'entité de gestion à laquelle la commune adhère"]]

In [22]:
df_base

,DPT de la commune,Nom de la commune adhérente,Identifiant SISPEA de la collectivité de l'entité de gestion à laquelle la commune adhère
9415,78,Dannemarie,174831
9435,78,Mondreville,175062
15894,77,Bransles,67568
21710,95,Ronquerolles,167404
29146,77,Hautefeuille,233974
...,...,...,...
33901,93,Bondy,198916
33902,93,Noisy-le-Sec,198916
33903,93,Pantin,198916
33904,93,Le Pré-Saint-Gervais,198916
33905,94,Périgny,218341

In [ ]:
df_final = pd.DataFrame()

for annee in range(2012, 2023):
    df = pd.read_csv("C:/Users/Antoine/Documents/AquaVision/donnees/brutes/eau_potable/tarifs_AEP_" + str(annee) + ".csv", encoding="Windows-1252", sep=";", low_memory=False)
    
    df['Id SISPEA de la collectivité'] = df['Id SISPEA de la collectivité'].str.replace('CollectivityId=', '').astype(int)

    df['Année'] = int(annee)

    df = df[['Année', 'Id SISPEA de la collectivité', 'D102.0']]    

    df_temp = pd.merge(df_base, df, how = 'left', left_on = "Identifiant SISPEA de la collectivité de l'entité de gestion à laquelle la commune adhère", right_on = "Id SISPEA de la collectivité").drop(["Identifiant SISPEA de la collectivité de l'entité de gestion à laquelle la commune adhère", "Id SISPEA de la collectivité"], axis = 1)

    mediane = float(df_temp[df_temp['D102.0'].isna() == False]['D102.0'].str.replace(",", ".").astype(float).median())

    df_temp['D102.0'] = df_temp['D102.0'].str.replace(",", ".").astype(float)

    df_temp = df_temp.fillna(mediane)

    df_temp = df_temp.groupby('Nom de la commune adhérente').max()

    df_final +=  df_temp

df_final = df_final.sort_values('Année', ascending=False).reset_index()

df_final.info()

In [43]:
df_final = pd.DataFrame()

for annee in range(2012, 2013):

    link = "C:/Users/Antoine/Documents/AquaVision/donnees/brutes/eau_potable/tarifs_AEP_" + str(annee) + ".csv"

    df = pd.read_csv(link, encoding="Windows-1252", sep=";", low_memory=False)
        
    df['Id SISPEA de la collectivité'] = df['Id SISPEA de la collectivité'].str.replace('CollectivityId=', '').astype(int)

    df['Année'] = int(annee)

    df = df[['Année', 'Id SISPEA de la collectivité', 'D102.0']]    

    # df_temp = pd.merge(df_base, df, how = 'left', left_on = "Identifiant SISPEA de la collectivité de l'entité de gestion à laquelle la commune adhère", right_on = "Id SISPEA de la collectivité").drop(["Identifiant SISPEA de la collectivité de l'entité de gestion à laquelle la commune adhère", "Id SISPEA de la collectivité"], axis = 1)

    # mediane = float(df_temp[df_temp['D102.0'].isna() == False]['D102.0'].str.replace(",", ".").astype(float).median())

    # df_temp['D102.0'] = df_temp['D102.0'].str.replace(",", ".").astype(float)

    # df_temp = df_temp.fillna(mediane)

    # df_temp = df_temp.groupby('Nom de la commune adhérente').max()

df

       Année  Id SISPEA de la collectivité            D102.0
0       2012                        181887               NaN
1       2012                        182019               NaN
2       2012                        181888               NaN
3       2012                        181990               NaN
4       2012                        181889               NaN
...      ...                           ...               ...
13694   2012                         97282  2,05373333333333
13695   2012                        182807               NaN
13696   2012                        182820               NaN
13697   2012                         97284  1,75413091666667
13698   2012                        182817               NaN

[13699 rows x 3 columns]